<div class="card border-success p-2 dash-card align-items-center">
	<div class="card-contents d-flex flex-column align-items-end m-3">
		<h3>{{website}} Password</h3>
		<div class="dashboard-title d-flex mt-2">
			<p class="m-1"><strong>Website:</strong></p>
			<p class="m-1">{{website}}</p>
		</div>
		<div class="dashboard-email d-flex mt-2">
			<p class="m-1"><strong>Email:</strong></p>
			<p class="m-1">{{websiteEmail}}</p>
		</div>
		<div class="dashboard-username d-flex mt-2">
			<p class="m-1"><strong>Username:</strong></p>
			<p class="m-1">{{websiteUserName}}</p>
		</div>
		<div class="dashboard-password d-flex mt-2">
			<p class="m-1"><strong>Password:</strong></p>
			<p class="m-1">{{websitePassword}}</p>
		</div>
		<div class="dashboard-btns align-self-center mt-5">
			<button class="btn btn-success">Edit</button>
			<button class="btn btn-danger">Delete</button>
		</div>
	</div>
</div>